#main_pane {
    -fx-background-image: url("../images/main_menu.png");
}

#player_head {
    -fx-padding: -1px;
}

#logout_button {
    -fx-background-image: url("../images/logout_button.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-padding: 0px 0px 30px 0px;

}

#logout_button:hover {
    -fx-background-image: url("../images/logout_button_hover.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-padding: 0px 0px 30px 0px;

}


#settings_button {
    -fx-background-image: url("../images/settings_button.png");
    -fx-background-color: transparent;
}

#settings_button:hover {
    -fx-background-image: url("../images/settings_button_hover.png");
    -fx-background-color: transparent;
}

#crack_message {
    -fx-padding: 0px 0px 70px 0px;
}

#version_combo_box {
    -fx-background-color: red;
}